@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  font-size: 2em;
}

div.box {
  display: block;
  padding-left: 15%;
  padding-right: 15%;
}

div.book {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  margin-bottom:10%;
}

div.book-cover, div.book-title {
  margin-right: 5%;
}

div.chapters {
  display: block;
}

p.title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

button {
  width: 200px;
  border: none;
  border-radius:12px;
  font-size: 1.5em;
  background: #4d80c2;
  margin: 3%;
  height:50px;
  color: black;
}

img.cover {
  max-height: 500px;
}